# maven output directory
target
/build
/dist
javadocs

# Eclipse files
/bin
.settings
.classpath
.project

# IntelliJ files
/.idea
*.iml
/atlassian-ide-plugin.xml

# Log files
spy.log

# Other files
/test-output
reloadtest.properties
/scratch/
testspy.forms
*.swp
.DS_Store
/pom.xml.versionsBackup
reload.log
dependency-reduced-pom.xml
.vagrant
Berksfile.lock

# bitronix transaction stuff
btm*.tlog
p6spy_xds

# hsql
mem.h2.db

# build artifacts
_build/