# maven output directory
target
/build
/dist
javadocs

# Eclipse files
/bin
.settings
.classpath
.project

# IntelliJ files
/.idea
*.iml
/atlassian-ide-plugin.xml

# vscode
.vscode

# Log files
*.log

# Other files
/test-output
reloadtest.properties
/scratch/
testspy.forms
*.swp
.DS_Store
/pom.xml.versionsBackup
dependency-reduced-pom.xml
.vagrant
Berksfile.lock

# bitronix transaction stuff
*.tlog
p6spy_xds

# hsql
/mem.*

# build artifacts
_build/

# gradle
.gradle

# zsh gradle plugin
.gradletasknamecache
