language: java

jdk:
  - oraclejdk7
  - openjdk7
  - oraclejdk8

env:
  global:
    - LD_LIBRARY_PATH=/home/db2inst1/sqllib/lib64/

before_install:
 - mvn -version
 - script/travis/before_install_apt-fast.sh
 - sudo apt-fast update -qq -y
 - script/travis/before_install_firebird.sh
 #- script/travis/before_install_db2.sh
 - script/travis/before_install_oracle.sh
 - groovy script/travis/generateMavenSettings.groovy

before_script:
 - script/travis/before_script_firebird.sh
 - script/travis/before_script_mysql.sh
 - script/travis/before_script_postgres.sh
 #- script/travis/before_script_db2.sh
 - script/travis/before_script_oracle.sh

install: 
 - mvn -q -B dependency:resolve-plugins --settings ~/.m2/p6spySettings.xml
 - mvn -q -B dependency:resolve --settings ~/.m2/p6spySettings.xml
 
script:
 - mvn -B test -P travis --settings ~/.m2/p6spySettings.xml

after_success:
 - if [[ $TRAVIS_BRANCH == "master" && $TRAVIS_PULL_REQUEST == "false" && $TRAVIS_JDK_VERSION == "oraclejdk7" ]]; then mvn -B deploy -DskipTests --settings ~/.m2/p6spySettings.xml; fi
 - if [[ $TRAVIS_BRANCH == "master" && $TRAVIS_PULL_REQUEST == "false" && $TRAVIS_JDK_VERSION == "oraclejdk7" ]]; then mvn -B jacoco:report coveralls:report; fi

notifications:
 email:
   - p6spy-developers@googlegroups.com
